choice/src/main/app/choice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <http:listener-config name="HTTP_Listener_Configuration2" host="localhost" port="8300" doc:name="HTTP Listener Configuration"/>
    <flow name="choiceFlow">
        <http:listener config-ref="HTTP_Listener_Configuration2" path="/choicetest" doc:name="HTTP"/>
        <set-session-variable variableName="method" value="#[message.inboundProperties,'http.method']" doc:name="Session Variable" mimeType="text/plain"/>
        <logger message="#[sessionVars.method]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[sessionVars.method = 'GET']">
                <logger message="method used is GET" level="INFO" doc:name="Get Logger"/>
            </when>
            <when expression="#[sessionVars.method = 'PUT']">
                <logger message="method used is PUT" level="INFO" doc:name="Put Logger"/>
            </when>
            <otherwise>
                <logger message="method is something fishy" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
        <set-payload value="#[sessionVars.method]" doc:name="Set Payload"/>
    </flow>
</mule>
